<!doctype html>
<html lang="en">
  <head>
    {{HEAD}}
  </head>
  <body>
    <div class="container">
      <header class="header">{{HEADER}}</header>
      <main class="main-content">
        <article class="full-post">
          <div class="post-date">{{POST_DATE}}</div>
          <h1 class="post-title">{{POST_TITLE}}</h1>
          <p class="post-subtitle">{{POST_SUBTITLE}}</p>
          <div class="content-body">{{POST_CONTENT}}</div>
          <div class="post-navigation">{{POST_NAVIGATION}}</div>
        </article>
      </main>
      <footer class="footer">{{FOOTER}}</footer>
    </div>
  </body>
</html>
